/* *{
margin:0;
padding:0;
} */

.body {
    margin: 0 auto;
}

.container {
    width: 1280px;
    margin: 0 auto;
    border: 3px solid black;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    background-color: #445162;
    color: white;
    font-family: Arial;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
    z-index: 0;
}

.product-name-wrp {
    width: 463px;
    float: left;
}

.main-header-title {
    margin: 0 0 50px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    display: block;
}

.main-header-list {
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.main-header-list-item {
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 0px;
    left: -36px;
    background-image: url(../img/layers.png);
    background-size: cover;
}

.main-img-header {
    display: block;
    width: 469px;
    min-height: 214px;
    background-color: #fff;
    float: right;
}

.about {
    width: 650px;
    float: left;
    font-family: Arial;
}

.title-about {
    width: 254px;
    height: 28px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    margin: 0 0 50px 0;
}

.abot p {
    width: 649px;
    height: 63px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 16px 0;
}

.about-img {
    display: block;
    width: 430px;
    min-height: 245px;
    background-color: #445161;
    float: right;
}

.about-video {
    display: block;
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

.section-about:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.Dignity {
    min-height: 418px;
    background-color: #f5f5f5;
}

.title-Dignity {
    width: 354px;
    height: 28px;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    margin: 0 auto 29px;
}

.dignity-left {
    float: left;
    margin: 0;
}

.dignity-left-item {
    width: 527px;
    height: 63px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    list-style-type: none;
    margin-bottom: 35px;
    position: relative;
}

.dignity-left-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -39px;
    top: 0px;
    background-image: url(../img/backandtick.jpg)
}

.dignity-right {
    float: right;
    margin: 0;
}

.dignity-right-item {
    width: 527px;
    height: 63px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    list-style-type: none;
    margin-bottom: 35px;
    position: relative;
}

.dignity-right-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -39px;
    top: 0px;
    background-image: url(../img/backandtick.jpg)
}

.Screenshots {
    min-height: 487px;
}

.Screenshots-title {
    width: 100%;
    text-align: center;
    height: 22px;
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    width: 100%;
    display: block;
    margin-bottom: 35px;
}

.Screenshots p {
    width: 359px;
    height: 108px;
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 34px 0;
}

.title-screen {
    width: 310px;
    height: 23px;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

.Screenshots figure {
    margin: 0;
    width: 580px;
    display: inline-flex;
}

.Screenshots img {
    margin: 0 14px 0 0;
}

.Reviews {
    min-height: 418px;
    background-color: #f5f5f5;
}

.container-reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Reviews-wrap {}

.avatar {
    float: left;
}

.Reviews-p {
    width: 436px;
    padding: 10px;
    margin: 0 0 24px 100px;
    box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 10px;
    position: relative;
    border-width: 483px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: Arial;
}

.Reviews-p:before {
    Content: "";
    display: block;
    /*   width: 20px;
  height: 20px; */
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: -29px;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
}

.user {
    text-decoration: none;
    width: 69px;
    height: 10px;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    line-height: 3;
}

.buy {
    min-height: 656px;
}

.container-buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.buy-item {
    width: 300px;
    min-height: 306px;
    background-color: #445162;
    border-radius: 8px;
    padding: 16px 0 20px 0;
}

.title-buy-item {
    height: 18px;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    text-align: center;
}

.Standart-price {
    border: 1px solid #445162;
    box-sizing: border-box;
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 18px 0 18px 0;
}

.buy-ol {
    width: 250px;
    list-style-position: inside;
    padding: 0 0 0 20px;
}

.buy-ol li {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy-button {
    display: block;
    width: 260px;
    height: 40px;
    margin: 20px 20px 0 20px;
    padding: 14px 0 13px 0;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ffffff;
    word-break: break-all;
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
}

.
